.one1
{
float:left;

width:13%;
height:70px;
}
.one2
{
float:left;

width:47%;
height:70px;
}

.one3
{
float:left;
width:40%;
height:70px;
}
.one4
{
background:url('C:/yashu/microsoft/images/m2 (1).png')no-repeat;
background-size:100%;
float:left;

width:100%;
height:500px;
}
.one4:hover
{
cursor:pointer;

}
.one5
{
float:left;

width:16%;
height:250px;
}
.one6
{
float:left;

width:17%;
height:250px;
}
.one7
{
float:left;

width:17%;
height:250px;
}
.one8
{
float:left;

width:17%;
height:250px;
}
.one9
{
float:left;

width:17%;
height:250px;
}
.one10
{
float:left;

width:16%;
height:250px;
}
.one11
{
float:left;

width:25%;
height:500px;
}
.one12
{
float:left;

width:25%;
height:500px;
}
.one13
{
float:left;

width:25%;
height:500px;
}
.one14
{
float:left;

width:25%;
height:500px;
}
.one15
{
float:left;

width:100%;
height:510px;
background:url('C:/yashu/microsoft/images/dtgb.webp')no-repeat;
background-size:contain;
background-position:center;
}
.one15:hover
{
cursor:pointer;

}
.one16
{
float:left;

width:100%;
height:180px;
}
.one17
{
float:left;

width:25%;
height:500px;
}
.one18
{
float:left;

width:25%;
height:500px;
}
.one19
{
float:left;

width:25%;
height:500px;
}
.one20
{
float:left;

width:25%;
height:500px;
}
.one21
{
float:left;

width:50%;
height:250px;
}
.one22
{
float:left;

width:50%;
height:250px;
}
.one23
{
float:left;

width:17%;
height:360px;
}
.one24
{
float:left;

width:16%;
height:360px;
}
.one25
{
float:left;

width:16%;
height:360px;
}
.one26
{
float:left;
width:16%;
height:360px;
}
.one27
{
float:left;

width:16%;
height:360px;
}
.one30
{
float:left;

width:19%;
height:360px;
}

.d11
{
height:auto;
width:100%;


}
.d11 ,.one23 , .one24 , .one25 , .one26 , .one27 , .one28 , .one29 , .one30 
{
background-color:F2F2F2;



}

 
.one28
{
float:left;

width:42%;
height:90px;
}
.one29
{
float:left;

width:58%;
height:90px;
}
.para li
{
margin-left:10px;
padding-top:10px;
float:left;
list-style:none;

} 
                     
.pari li 
{
padding-left:45px;
padding-top:10px;
float:left;
list-style:none;
}
.par 
{
margin-left:70px;


}
.to1
{
test-aling:center;
padding-left:60px;
padding-top:20px;
width:130px;
height:25px;
}
.to1:hover
{
cursor:pointer;

}
.to2
{
background-color:red;
margin-top:80px;
margin-left:80px;
padding-left:10px;
margin-right:86%;
line-height:30px;
font-family: "Segoe UI",SegoeUI,"Helvetica Neue",Helvetica,Arial,sans-serif;
	font-size:16px;

}


.tree1
{
width:25%;
padding-left:80px;
     
        font-family: "Segoe UI",SegoeUI,"Helvetica Neue",Helvetica,Arial,sans-serif;
	font-size:34px;
}
.for1
{
width:29%;
padding-left:80px;
font-family: "Segoe UI",SegoeUI,"Helvetica Neue",Helvetica,Arial,sans-serif;
	font-size:16px;

}
.five1
{
margin-left:85px;
padding-left:15px;
margin-right:80%;
background-color:black;
color:white;
line-height:30px;
font-family: "Segoe UI",SegoeUI,"Helvetica Neue",Helvetica,Arial,sans-serif;
	font-size:15.8px;
	weight:800;
}
.to3
{
width:40px;
height:40px;
height:40px;
padding-left:148px;
padding-top:100px;

}
.tree2
{
color:#0067b8;
padding-left:91px;
margin-top:4px;
font-family: "Segoe UI",SegoeUI,"Helvetica Neue",Helvetica,Arial,sans-serif;
	font-weight:500;
	font-size:95%;
}
.tree2:hover
{
cursor:pointer;


}
.to4
{
width:40px;
height:40px;
height:40px;
padding-left:120px;
padding-top:90px;
}
.tree3
{
font-weight:600;
color:#0067b8;
padding-left:45px;
font-family: "Segoe UI",SegoeUI,"Helvetica Neue",Helvetica,Arial,sans-serif;
	font-size:15px;
}
.tree3:hover
{
cursor:pointer;


}
.to5
{
width:40px;
height:40px;
height:40px;
padding-left:90px;
padding-top:90px;
}




.tree4
{
font-weight:600;
color:#0067b8;
padding-left:15px;
font-family: "Segoe UI",SegoeUI,"Helvetica Neue",Helvetica,Arial,sans-serif;
	font-size:15px;
}
.tree4:hover
{
cursor:pointer;


}
.to6
{
width:40px;
height:40px;
height:40px;
padding-left:55px;
padding-top:90px;
}



.tree5
{
font-weight:600;
color:#0067b8;
padding-left:15px;
font-family: "Segoe UI",SegoeUI,"Helvetica Neue",Helvetica,Arial,sans-serif;
	font-size:15px;
}
.tree5:hover
{
cursor:pointer;


}
.to7
{
width:40px;
height:40px;
padding-left:40px;
padding-top:90px;

}


.tree6
{
font-weight:600;
color:#0067b8;
font-family: "Segoe UI",SegoeUI,"Helvetica Neue",Helvetica,Arial,sans-serif;
	font-size:15px;
}
.tree6:hover
{
cursor:pointer;


}
.to8
{
width:40px;
height:40px;
padding-left:28px;
padding-top:90px;
}


.tree7
{
font-weight:600;
color:#0067b8;
font-family: "Segoe UI",SegoeUI,"Helvetica Neue",Helvetica,Arial,sans-serif;
	font-size:15px;
}
.tree7:hover
{
cursor:pointer;


}
.to9
{
padding-left:57px;
width:320px;
height:180px;



}

.to9:hover
{
cursor:pointer;


}
.tree8
{
margin-top:15px;
padding-left:62px;
font-family: "Segoe UI",SegoeUI,"Helvetica Neue",Helvetica,Arial,sans-serif;
	font-size:30px;
    font-weight:500;
}
.tree8:hover
{
cursor:pointer;


}
.for2
{
width:80%;
padding-left:62px;
font-size:16.5px;
line-height:25px;
font-family: "Segoe UI",SegoeUI,"Helvetica Neue",Helvetica,Arial,sans-serif;
	font-size:15px;
	font-weight:400;
	margin-top:-15px;
}
.for2:hover
{
cursor:pointer;


}
.sixe1
{
margin-left:-20px;
margin-top:20px;

}
.five2
li
{
padding-left:40px;
color:#0067b8;
float:left;
list-style:none;
font-family: "Segoe UI",SegoeUI,"Helvetica Neue",Helvetica,Arial,sans-serif;
	font-weight:500;
}
.to10
{
padding-left: 27px;
    height: 182px;
    width: 340px;
font-family: "Segoe UI",SegoeUI,"Helvetica Neue",Helvetica,Arial,sans-serif;
	font-weight:500;


}
.to10:hover
{
cursor:pointer;


}

.tree9
{
padding-left: 27px;
font-family: "Segoe UI",SegoeUI,"Helvetica Neue",Helvetica,Arial,sans-serif;
	font-size:32px;
    font-weight:500;
margin-top:15px;
}
.tree9:hover
{
cursor:pointer;


}



.for3
{
width:80%;
padding-left:27px;
line-height:24px;
font-family: "Segoe UI",SegoeUI,"Helvetica Neue",Helvetica,Arial,sans-serif;
	font-size:14.5px;
	font-weight:400;
	margin-top:-15px;


}
.for3:hover
{
cursor:pointer;


}
.five3
{
margin-top:28px;
padding-left:27px;
color:#0067b8;
font-family: "Segoe UI",SegoeUI,"Helvetica Neue",Helvetica,Arial,sans-serif;
	font-weight:500;
}
.to11
{
padding-left: 20px;
    height: 182px;
    width: 329px;



}
.to11:hover
{
cursor:pointer;


}

.tree10
{
padding-left: 27px;
font-family: "Segoe UI",SegoeUI,"Helvetica Neue",Helvetica,Arial,sans-serif;
	font-size:32px;
    font-weight:500;
margin-top:15px;

}

.tree10:hover
{
cursor:pointer;


}


.for4
{
width:80%;
padding-left:27px;
line-height:24px;

font-family: "Segoe UI",SegoeUI,"Helvetica Neue",Helvetica,Arial,sans-serif;
	font-size:15px;
	font-weight:400;
	margin-top:-15px;

}
.for4:hover
{
cursor:pointer;


}
.five4
{
margin-top:30px;
padding-left:27px;
color:#0067b8;
font-family: "Segoe UI",SegoeUI,"Helvetica Neue",Helvetica,Arial,sans-serif;
	font-weight:500;
}

.to12
{
padding-left:1px;
    height: 182px;
    width: 320px;



}

.to12:hover
{
cursor:pointer;


}
.tree11
{
padding-left:1px;

font-family: "Segoe UI",SegoeUI,"Helvetica Neue",Helvetica,Arial,sans-serif;
	font-size:32px;
    font-weight:500;
margin-top:15px;
}

.tree11:hover
{
cursor:pointer;


}


.for5
{
width:80%;
padding-left:1px;
line-height:24px;
font-family: "Segoe UI",SegoeUI,"Helvetica Neue",Helvetica,Arial,sans-serif;
	font-size:15px;
	font-weight:400;
	margin-top:-15px;


}
.for5:hover
{
cursor:pointer;


}
.five5
{
margin-top:30px;
padding-left:1px;
color:#0067b8;
font-family: "Segoe UI",SegoeUI,"Helvetica Neue",Helvetica,Arial,sans-serif;
	font-weight:500;
}
.to13
{
margin-top: 145px;
margin-left: 200px;
	background-color:red;
	padding:10px;
	width:7%;
	font-family: "Segoe UI",SegoeUI,"Helvetica Neue",Helvetica,Arial,sans-serif;
	font-size:15px;
	font-weight:500;
}
.tree12
{
position:absolute;
margin-top:-10px;
    padding-left: 200px;
width:22%;
font-family: "Segoe UI",SegoeUI,"Helvetica Neue",Helvetica,Arial,sans-serif;
	font-size:30px;
    font-weight:600;

}
.for6
{

position:absolute;
margin-top:130px;
    padding-left: 200px;
width:25%;
font-family: "Segoe UI",SegoeUI,"Helvetica Neue",Helvetica,Arial,sans-serif;
font-weight:400;
	font-size:14.5px;
	 line-height:25px;
}
.five6
{
position:absolute;
margin-top:200px;
margin-left:200px;
padding:10px;
width:12%;
background-color:black;
color:white;
font-family: "Segoe UI",SegoeUI,"Helvetica Neue",Helvetica,Arial,sans-serif;
	font-size:15px;
	margin-top:225px;
	 font-weight:500;
}

.to14
{
margin-left:74px;
margin-top:125px;

font-family: "Segoe UI",SegoeUI,"Helvetica Neue",Helvetica,Arial,sans-serif;
	font-size:30px;
font-weight:600;

}

.to15
{
padding-left:67px;
width:310px;
height:180px;



}

.to15:hover
{
cursor:pointer;

}
.tree13
{
padding-left:67px;
font-family: "Segoe UI",SegoeUI,"Helvetica Neue",Helvetica,Arial,sans-serif;
	font-size:32px;
    font-weight:500;
margin-top:15px;

}
.tree13:hover
{
cursor:pointer;

}
.for7
{
width:80%;
padding-left:67px;
font-size:16.5px;
line-height:25px;
font-family: "Segoe UI",SegoeUI,"Helvetica Neue",Helvetica,Arial,sans-serif;
	font-size:15px;
	margin-top:-20px;
}
.for7:hover
{
cursor:pointer;

}

.five7
{
padding-left:67px;
color:#0067b8;
float:left;
list-style:none;
margin-top:8px;
font-family: "Segoe UI",SegoeUI,"Helvetica Neue",Helvetica,Arial,sans-serif;
	font-weight:500;
	
}


.to16
{
padding-left: 27px;
    height: 182px;
    width: 340px;



}

.to16:hover
{
cursor:pointer;

}
.tree14
{
padding-left: 27px;
font-family: "Segoe UI",SegoeUI,"Helvetica Neue",Helvetica,Arial,sans-serif;
	font-size:30px;
    font-weight:500;
margin-top:15px;

}


.tree14:hover
{
cursor:pointer;

}

.for8
{
width:80%;
padding-left:27px;
line-height:24px;
font-family: "Segoe UI",SegoeUI,"Helvetica Neue",Helvetica,Arial,sans-serif;
	font-size:15px;
	margin-top:-15px;


}
.for8:hover
{
cursor:pointer;

}
.five8
{
margin-top:28px;
padding-left:27px;
color:#0067b8;
font-family: "Segoe UI",SegoeUI,"Helvetica Neue",Helvetica,Arial,sans-serif;
	font-weight:500;
}

.to17
{
padding-left: 20px;
    height: 182px;
    width: 329px;



}
.to17:hover
{
cursor:pointer;

}

.tree15
{
padding-left:20px;
font-family: "Segoe UI",SegoeUI,"Helvetica Neue",Helvetica,Arial,sans-serif;
	font-size:30px;
    font-weight:500;
margin-top:15px;

}

.tree15:hover
{
cursor:pointer;

}


.for9
{
width:80%;
padding-left:20px;
line-height:24px;
font-family: "Segoe UI",SegoeUI,"Helvetica Neue",Helvetica,Arial,sans-serif;
	font-size:15px;
	margin-top:-15px;


}
.for9:hover
{
cursor:pointer;

}
.five9
{
margin-top:30px;
padding-left:20px;
color:#0067b8;
font-weight:900;
}

.to18
{
padding-left:1px;
    height: 182px;
    width: 320px;



}
.to18:hover
{
cursor:pointer;

}

.tree16
{
padding-left:1px;
font-family: "Segoe UI",SegoeUI,"Helvetica Neue",Helvetica,Arial,sans-serif;
	font-size:30px;
    font-weight:500;
margin-top:15px;

}

.tree16:hover
{
cursor:pointer;

}


.for10
{
width:78%;
padding-left:1px;
line-height:24px;

font-family: "Segoe UI",SegoeUI,"Helvetica Neue",Helvetica,Arial,sans-serif;
	font-size:14.5px;
	margin-top:-15px;

}
.for10:hover
{
cursor:pointer;

}
.five10
{
margin-top:30px;
padding-left:1px;
color:#0067b8;
font-family: "Segoe UI",SegoeUI,"Helvetica Neue",Helvetica,Arial,sans-serif;
	font-weight:500;
}
.to19
{

margin-left: 60px;
    margin-top:130px;
    position: absolute;
font-family: "Segoe UI",SegoeUI,"Helvetica Neue",Helvetica,Arial,sans-serif;
	font-size:15px;

}

.to20
{

    margin-left: 181px;
    margin-top: 122px;
    position: absolute;
    height: 31px;
    width: 32px;

}
.to20:hover
{
cursor:pointer;



}
.tree17
{
    margin-left:222px;
    margin-top: 122px;
    position: absolute;
    height: 31px;
    width: 32px;


}
.tree17:hover
{
cursor:pointer;



}
.for11
{

    margin-left:264px;
    margin-top: 122px;
    position: absolute;
    height: 31px;
    width: 32px;


}
.for11:hover
{
cursor:pointer;



}
.to21
{
margin-left:620px;
    margin-top: 165px;
background-color:D9D9D9;
padding:10px;

}
.to21:hover
{
cursor:pointer;
background-color:#F8FAF5;

}
.to22
{
margin-top:30px;
margin-left:63px;
font-size:18px;
font-family: "Segoe UI",SegoeUI,"Helvetica Neue",Helvetica,Arial,sans-serif;
	font-size:16px;
	font-weight:500;
}

.to23
li
{
margin-left:25px;
list-style:none;
line-height:30px;
font-size:13px;
font-family: "Segoe UI",SegoeUI,"Helvetica Neue",Helvetica,Arial,sans-serif;
	font-size:11px;
}
.to24
{
margin-top:30px;
margin-left:55px;
font-size:18px;
font-family: "Segoe UI",SegoeUI,"Helvetica Neue",Helvetica,Arial,sans-serif;
	font-size:16px;
	font-weight:500;
}

.to25
li
{
margin-left:18px;
list-style:none;
line-height:30px;
font-size:13px;
font-size:13px;
font-family: "Segoe UI",SegoeUI,"Helvetica Neue",Helvetica,Arial,sans-serif;
	font-size:11px;
}
.to26
{
margin-top:30px;
margin-left:48px;
font-size:18px;
font-family: "Segoe UI",SegoeUI,"Helvetica Neue",Helvetica,Arial,sans-serif;
	font-size:16px;
	font-weight:500;
}

.to27

li
{
margin-left:10px;
list-style:none;
line-height:30px;
font-size:13px;
font-size:13px;
font-family: "Segoe UI",SegoeUI,"Helvetica Neue",Helvetica,Arial,sans-serif;
	font-size:11px;
}
.to28
{
margin-top:30px;
margin-left:48px;
font-size:18px;
font-family: "Segoe UI",SegoeUI,"Helvetica Neue",Helvetica,Arial,sans-serif;
	font-size:16px;
	font-weight:500;
}

.to29

li
{
margin-left:10px;
list-style:none;
line-height:30px;
font-size:13px;
font-size:13px;
font-family: "Segoe UI",SegoeUI,"Helvetica Neue",Helvetica,Arial,sans-serif;
	font-size:11px;
}
.to30
{
margin-top:30px;
margin-left:35px;
font-size:18px;
}

.to31

li
{
margin-left:0px;
list-style:none;
line-height:30px;
font-size:13px;
font-size:13px;
font-family: "Segoe UI",SegoeUI,"Helvetica Neue",Helvetica,Arial,sans-serif;
	font-size:11px;
}


.to32
{
margin-top:30px;
margin-left:25px;
font-size:18px;
font-family: "Segoe UI",SegoeUI,"Helvetica Neue",Helvetica,Arial,sans-serif;
	font-size:16px;
	font-weight:500;
}

.to33

li
{
margin-left:-10px;
list-style:none;
line-height:30px;
font-size:13px;
font-size:13px;
font-family: "Segoe UI",SegoeUI,"Helvetica Neue",Helvetica,Arial,sans-serif;
	font-size:11px;
}
.to34
li
{
padding-left:55px;

float:left;
font-size:15px;
list-style:none;
font-size:13px;
font-family: "Segoe UI",SegoeUI,"Helvetica Neue",Helvetica,Arial,sans-serif;
	font-size:12px;
}

.to35
li
{
float:left;
margin-left:20px;
list-style:none;
font-size:13px;
font-family: "Segoe UI",SegoeUI,"Helvetica Neue",Helvetica,Arial,sans-serif;
	font-size:12px;
}
.fa-globe
{
font-size:20px;
margin-left:-30px;
position:absolute;
}
.fa-angle-down
{
padding-top:7px;
position:absolute;
font-size:12px;
padding-left:8px;
}
.fa-search
{
padding-left:8px;
position:absolute;
}
.fa-shopping-cart
{
padding-left:8px;
position:absolute;
padding-top:3px;
}
.fa-user-plus
{

padding-left:8px;
position:absolute;
font-size:20px;
margin-top:-2px;
}

.fa-arrow-up
{
padding-right:10px;

}
.m1:hover
{
cursor:pointer;
border-bottom:2px solid black;


}
.m2:hover
{
cursor:pointer;
border-bottom:2px solid black;


}
.m3:hover
{
cursor:pointer;
border-bottom:2px solid black;


}
.m4:hover
{
cursor:pointer;
border-bottom:2px solid black;


}
.m5:hover
{
cursor:pointer;
border-bottom:2px solid black;


}
.m6:hover
{
cursor:pointer;
border-bottom:2px solid black;


}
.m7:hover
{
cursor:pointer;
border-bottom:2px solid black;


}
.m8:hover
{
cursor:pointer;
border-bottom:2px solid black;


}
.m9:hover
{
cursor:pointer;
border-bottom:2px solid black;


}
.m10:hover
{
cursor:pointer;
border-bottom:2px solid black;


}
.m11:hover
{
cursor:pointer;
border-bottom:2px solid #0067b8;
padding-right:3px;
}
.m12:hover
{
cursor:pointer;
border-bottom:2px solid #0067b8;
margin-right:3px;
}
.m13:hover
{
cursor:pointer;
border-bottom:2px solid #0067b8;
margin-right:3px;
}
.m14:hover
{
cursor:pointer;
border-bottom:2px solid #0067b8;
margin-right:3px;
}
.m15:hover
{
cursor:pointer;
border-bottom:2px solid #0067b8;
margin-right:3px;
}
.sp1:hover
{
cursor:pointer;
border-bottom:2px solid #0067b8;
padding-right:3px;
}
.sp2:hover
{
cursor:pointer;
border-bottom:2px solid #0067b8;
padding-right:3px;
}
.sp3:hover
{
cursor:pointer;
border-bottom:2px solid #0067b8;
padding-right:3px;
}
.sp4:hover
{
cursor:pointer;
border-bottom:2px solid #0067b8;
padding-right:3px;
}
.wh1:hover
{
cursor:pointer;
border-bottom:1px solid black;
}
.wh2:hover
{
cursor:pointer;
border-bottom:1px solid black;
}
.wh3:hover
{
cursor:pointer;
border-bottom:1px solid black;
}
.wh4:hover
{
cursor:pointer;
border-bottom:1px solid black;
}
.wh5:hover
{
cursor:pointer;
border-bottom:1px solid black;
}
.wh6:hover
{
cursor:pointer;
border-bottom:1px solid black;
}
.wh7:hover
{
cursor:pointer;
border-bottom:1px solid black;
}
.wh8:hover
{
cursor:pointer;
border-bottom:1px solid black;
}
.wh9:hover
{
cursor:pointer;
border-bottom:1px solid black;
}
.wh10:hover
{
cursor:pointer;
border-bottom:1px solid black;
}
.wh11:hover
{
cursor:pointer;
border-bottom:1px solid black;
}
.wh12:hover
{
cursor:pointer;
border-bottom:1px solid black;
}
.wh13:hover
{
cursor:pointer;
border-bottom:1px solid black;
}
.wh14:hover
{
cursor:pointer;
border-bottom:1px solid black;
}
.wh15:hover
{
cursor:pointer;
border-bottom:1px solid black;
}
.wh16:hover
{
cursor:pointer;
border-bottom:1px solid black;
}
.wh17:hover
{
cursor:pointer;
border-bottom:1px solid black;
}
.wh18:hover
{
cursor:pointer;
border-bottom:1px solid black;
}
.wh19:hover
{
cursor:pointer;
border-bottom:1px solid black;
}
.wh20:hover
{
cursor:pointer;
border-bottom:1px solid black;
}
.wh21:hover
{
cursor:pointer;
border-bottom:1px solid black;
}
.wh22:hover
{
cursor:pointer;
border-bottom:1px solid black;
}
.wh23:hover
{
cursor:pointer;
border-bottom:1px solid black;
}
.wh24:hover
{
cursor:pointer;
border-bottom:1px solid black;
}
.wh25:hover
{
cursor:pointer;
border-bottom:1px solid black;
}
.wh26:hover
{
cursor:pointer;
border-bottom:1px solid black;
}
.wh27:hover
{
cursor:pointer;
border-bottom:1px solid black;
}
.wh28:hover
{
cursor:pointer;
border-bottom:1px solid black;
}
.wh29:hover
{
cursor:pointer;
border-bottom:1px solid black;
}
.wh30:hover
{
cursor:pointer;
border-bottom:1px solid black;
}
.wh31:hover
{
cursor:pointer;
border-bottom:1px solid black;
}
.wh32:hover
{
cursor:pointer;
border-bottom:1px solid black;
}
.wh33:hover
{
cursor:pointer;
border-bottom:1px solid black;
}
.wh34:hover
{
cursor:pointer;
border-bottom:1px solid black;
}
.wh35:hover
{
cursor:pointer;
border-bottom:1px solid black;
}
.wh36:hover
{
cursor:pointer;
border-bottom:1px solid black;
}
.wh37:hover
{
cursor:pointer;
border-bottom:1px solid black;
}
.wh38:hover
{
cursor:pointer;
border-bottom:1px solid black;
}
.wh39:hover
{
cursor:pointer;
border-bottom:1px solid black;
}
.wh40:hover
{
cursor:pointer;
border-bottom:1px solid black;
}
.wh41:hover
{
cursor:pointer;
border-bottom:1px solid black;
}
.wh42:hover
{
cursor:pointer;
border-bottom:1px solid black;
}
.wh43:hover
{
cursor:pointer;
border-bottom:1px solid black;
}
.wh44:hover
{
cursor:pointer;
border-bottom:1px solid black;
}
.wh45:hover
{
cursor:pointer;
border-bottom:1px solid black;
}
.wh46:hover
{
cursor:pointer;
border-bottom:1px solid black;
}
.wh47:hover
{
cursor:pointer;
border-bottom:1px solid black;
}
.wh48:hover
{
cursor:pointer;
border-bottom:1px solid black;
}
.wh49:hover
{
cursor:pointer;
border-bottom:1px solid black;
}
.wh50:hover
{
cursor:pointer;
border-bottom:1px solid black;
}
.wh51:hover
{
cursor:pointer;
border-bottom:1px solid black;
}
.wh52:hover
{
cursor:pointer;
border-bottom:1px solid black;
}
.wh53:hover
{
cursor:pointer;
border-bottom:1px solid black;
}
.wh54:hover
{
cursor:pointer;
border-bottom:1px solid black;
}
.wh55:hover
{
cursor:pointer;
border-bottom:1px solid black;
}
.wh56:hover
{
cursor:pointer;
border-bottom:1px solid black;
}
.wh57:hover
{
cursor:pointer;
border-bottom:1px solid black;
}
.wh58:hover
{
cursor:pointer;
border-bottom:1px solid black;
}
.wh59:hover
{
cursor:pointer;
border-bottom:1px solid black;
}
.sv1
{
margin-top:0px;
margin-left:-153px;
}